{% extends "SplashWidgetsBundle:Widget:base.html.twig" %}

{% set loadingUrl = path('splash_widgets_render_widget', { 
    'service': Service,  
    'type' : WidgetType, 
    'options' : Options | json_encode(), 
    "parameters" : Parameters 
}) %}
            
{% block widget_box %}
    <div class="splash-widget-loader"
         data-target="{{ WidgetType ~ "-" ~ WidgetId }}"
         data-reload="{{ loadingUrl }}"
        >
        
        {% if Options.Border %}
        <div class="panel panel-warning card w-100">
        {% endif %}    

            <div class="text-center p-2">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"  aria-hidden="true"></i>   
                <br />
                Loading your widget...
            </div>

        {% if Options.Border %}
        </div>    
        {% endif %}    
        
    </div>    
{% endblock %}
