{% trans_default_domain "SplashWidgetsBundle" %}   


<div class="{{ Block.Options.Width }}">

    {#
        Widget Block Contents
    #}
    {% block block_content %}{% endblock %}


</div>   


    