{% trans_default_domain "SplashWidgetsBundle" %}   

{% extends "SplashWidgetsBundle:Blocks:base.html.twig" %}
{% import "SplashWidgetsBundle:Macros:widgets.html.twig" as Wid %}

{% block block_content %}
    
    {#
        Widget Table
    #}
    <div class="table-responsive">
        
        {% set HeadRow = Block.Options.HeadingRows %}
            
        <table class="table {{ Block.Options.Layout }}">
            
        {% if HeadRow > 0 %}
            <thead>
        {% endif %}           
           
        {% for Row in Block.Data.rows %}
                <tr>
                    {% for Cell in Row %}
                        <td>{{ Wid.Text(Cell,Block.Options) }}</td>
                    {% endfor %}   
                </tr>
            {% set HeadRow = HeadRow - 1 %}   
            {% if HeadRow == 0 %}</thead><tbody>{% endif %}

        {% endfor %}   
            </tbody>
                            
        </table>            
    </div>
{% endblock %}