{% trans_default_domain "SplashWidgetsBundle" %}   

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">        
                {{ 'list.title'|trans }}
                <small>{{ 'list.tooltip'|trans }}</small>
            </h4>
        </div>
            
        <div class="modal-body">
            {% include 'SplashWidgetsBundle:List:contents.html.twig' %} 
        </div>
            
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
            
    </div>
</div><!-- /.modal-dialog -->
