{% trans_default_domain "SplashWidgetsBundle" %} 

<div class="card panel panel-default">
  <div class="card-header panel-heading">
      <h3>{{ 'list.title'|trans }}</h3>
      <small>{{ 'list.tooltip'|trans }}</small>
  </div>
  <div class="card-body panel-body no-padding" style="padding: 0px;">
      {% include 'SplashWidgetsBundle:List:contents.html.twig' %} 
  </div>
</div>

    