/nbproject/private/
/nbproject/
/app/parameters.yml
/.php_cs.cache
/vendor/
/var/
/app/bootstrap.php.cache
/web/bundles/
/node_modules/
/.gh-pages/
/web/build/
/yarn.lock
/reboot.sh
/docs/yarn.lock
/.idea/
