{% trans_default_domain "SplashWidgetsBundle" %}   
{% extends "SplashWidgetsBundle:Demo:layout.html.twig" %}   

{#
    Display Node Profile Title
#}
{% block headline %}
    OpenWidgets Collections Demo Page
{% endblock %}    
    
{#
    Display Node Profile Contents
#}

{% block content_row %}

{#    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                <h4 class="txt-color-teal">Line chart variation <a href="javascript:void(0);" class="pull-right txt-color-white"><i class="fa fa-refresh"></i></a></h4>
                <br>	
                <div 
                    class="sparkline" 
                    data-sparkline-type="line" 
                    data-fill-color="#e6f6f5" 
                    data-sparkline-line-color="#0aa699" 
                    data-sparkline-spotradius="5" 
                    data-sparkline-width="100%" 
                    data-sparkline-height="180px">6,4,3,5,2,4,6,4,9,-3,4,5,4,3,2,4,5,</div> 
                
                <h4 class="air air-top-right padding-10 font-xl txt-color-teal">+ 39.<small class="ultra-light txt-color-teal">57 <i class="fa fa-caret-up fa-lg"></i></small></h4>
                <h5 class="air air-bottom-left padding-10 font-md text-danger">-12.<small class="ultra-light text-danger">45 <i class="fa fa-caret-down fa-lg"></i></small></h5>
    </div>#}
    
    {% include 'SplashWidgetsBundle:Demo/Collection:contents.html.twig' %}  
    
{% endblock %}

