
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Widget Definition returned
        </h6>
    </div>
    <div class="card-body">
        
        <p>
            Factory service will do all the rest and create return a Widget Model that will be used for all next opérations.
        </p>
        
        {{ dump(Widgets.Text) }}
        
    </div>
</div>