{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Edit %}

    {#
        Widget Setup Btn
    #}
    {% set EditAction = "SplashWidgets_LoadEditModal('" ~ Widget.Service ~ "','" ~ Widget.Type ~ "')" %}
    <a class="btn btn-xs btn-primary" onclick="{{ EditAction }}">
        <i class="fa fa-fw fa-gear"></i>
        {{ "widget.params" | trans }}
    </a>

    {#
        Widget Remove Btn
    #}
    {% set RemoveAction = "SplashWidgets_Remove('" ~ Widget.Service ~ "','" ~ Widget.Type ~ "')" %}
    <a class="btn btn-xs btn-danger" onclick="{{ RemoveAction }}">
        <i class="fa fa-fw fa-times-circle-o"></i>
        {{ "remove.label" | trans }}
    </a>

{% endif %}
        

    