{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Edit %}
            
{#
    Widget Remove Btn
#}
{% set EditAction = "SplashWidgets_LoadEditModal('" ~ Widget.Service ~ "','" ~ Widget.Type ~ "')" %}
<a class="btn btn-link no-padding" onclick="{{ EditAction }}">
    <i class="fa fa-fw fa-gear"></i>
</a>

{#
    Widget Setup Btn
#}
{% set EditAction = "SplashWidgets_LoadEditModal('" ~ Widget.Service ~ "','" ~ Widget.Type ~ "')" %}
<a class="btn btn-link" onclick="{{ EditAction }}">
    <i class="fa fa-fw fa-gear"></i>
</a>



{% endif %}
        

    