{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Widget.Options.Footer %}
    <div class="panel-footer font-xs text-right">
        <small>
        {% if Widget.Date is not empty %}{{ Widget.Date | ago | default("Now") }}{% endif %}
        &nbsp;
        {% if Widget.Origin is not empty %}@{{ Widget.Origin }}{% endif %}
        </small>
    </div>    
{% endif %}
                        
    