{% trans_default_domain "SplashWidgetsBundle" %}   
{% import "SplashWidgetsBundle:Macros:widgets.html.twig" as Wid %}

<p class="padding-10">
    {{ Wid.Text(Block.text,Block.Options) }}
</p>
    

    
    