
{% if Widget is defined %}
    {% set Width = Widget.Options.Width %}
{% elseif Options is defined %}
    {% set Width = Options.Width %}
{% else %}
    {% set Width = "col-sm-12 col-md-6 col-lg-6" %}
{% endif %}

{% if Widget is defined %}
    {% set WidgetId = Widget.Identifier %}
{% endif %}

<div class="{{ Width  }} " id="{{ WidgetId }}" data-id="{{ WidgetId }}"> 
    {#  Widget Contents Envelope #}
    {% block widget_box %}
        {% include 'SplashWidgetsBundle:Widget:contents.html.twig'%}  
    {% endblock %}                 
</div> 


 

        

 