
{% if Edit | default(false) %}
    {% set Style = "opacity: 1; box-shadow: 10px 30px 5px #D9EDF7; margin-bottom: 0px;" %}
{% else %}
    {% set Style = "opacity: 1;" %}
{% endif %}


<div 
    class="panel panel-default {#{% if Edit %}bg-color-redLight{% endif %}#}" 
    style="{{ Style }}"
    >
    
    {# Widget Contents #}
    {% block widget_container %}
    
        {#  Widget Header #}
        {% block widget_Header %}
            {% include 'SplashWidgetsBundle:Widget/Core:header.html.twig'%}  
        {% endblock %}  


        {# Widget Contents #}
        {% block widget_contents %}
            <div class="row no-padding" >
                {# Widget Block Row #}
                {% block widget_row %}
                    {% include 'SplashWidgetsBundle:Widget/Blocks:row.html.twig'%}  
                {% endblock %}  
            </div>                    
        {% endblock %}  


        {# Widget Footer #}
        {% block widget_footer %}
            {% include 'SplashWidgetsBundle:Widget/Core:footer.html.twig'%}  
        {% endblock %}  

    {% endblock %}                 
</div> 

{% if Edit | default(false) %}
{#    <div class="col-xs-12 pull-right text-right text-primary" style="margin-bottom: 10px;">    #}
    <div class="pull-right text-primary hiden-xs hidden-sm" style="margin-bottom: 10px;">    
        {% block widget_buttons %}
            {% include 'SplashWidgetsBundle:Widget/Core:buttons.html.twig'%}  
        {% endblock %}  
    </div> 
{% endif %}


 