{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Widget.Options.Footer %}
    <div class="widget-footer padding-5 no-padding-bottom font-xs text-align-right">
        {% if Widget.Date is not empty %}{{ Widget.Date | ago | default("Now") }}{% endif %}
        &nbsp;
        {% if Widget.Origin is not empty %}@{{ Widget.Origin }}{% endif %}
    </div>    
{% endif %}
                        
    