{% extends "SplashWidgetsBundle:Widget:box.html.twig" %}

{#
    Widget Contents
#}
{% block widget_contents %}
    <div class="no-padding" style="min-height: 80px">
        {% include 'ThemeBundle:Blocks:loading.block.twig' %} 
    </div>                   
{% endblock %}   


 

        

 