
{% trans_default_domain "NodesExplorerBundle" %}

<h1>
    <i class="fa fa-eye fa-fw "></i>
    {{ 'menu.title'|trans }}
    <span>&gt;
        {{ "explorer.menu.widgets" | trans }}
        <span>&gt;
            {{app.request.attributes.get("WidgetType")}}
        </span>     
    </span>     
</h1>    
    