
<html lang="en">
    
    {% include "@SplashWidgets/Demo/Layout/head.html.twig" %}   

    <body id="page-top" cz-shortcut-listen="true">

      <!-- Page Wrapper -->
      <div id="wrapper">

        {% include "@SplashWidgets/Demo/Layout/sidebar.html.twig" %} 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Begin Page Content -->
            <div class="container-fluid mt-4">
                
                <!-- Page Title -->
                <h1 class="h3 mb-2 text-gray-800">
                    {% block headline %}{% endblock %} 
                </h1>
                <!-- End Page Title -->
                    
                {% block body %}
                {% endblock body%}

                <!-- Content Row -->
                <div class="row justify-content-around">
                    {% block content_row %}
                    {% endblock content_row %}
                </div>
                <!-- End of Content Row -->
                
            </div>
            <!-- End of Page Content -->
        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

    {% include "@SplashWidgets/Demo/Layout/footer.html.twig" %}   

    </body>
</html>
