{% trans_default_domain "SplashWidgetsBundle" %}   

{% set Service  =  app.request.attributes.get("Service") %}  
{% set Type     =  app.request.attributes.get("Type") %}  

<div class="row">
    <div class="col-xs-12 col-md-6">
        {{ render(controller('SplashWidgetsBundle:Edit:panel', { 'request' : app.request, 'Service' : Service,  'Type' : Type })) }}
    </div>
    
    <div class="col-xs-12 col-md-6">
        {{ render(controller('SplashWidgetsBundle:View:delayed', { 'Service' : Service,  'Type' : Type })) }}
    </div>
</div>
    
