{% trans_default_domain "SplashWidgetsBundle" %}   
{% import "SplashWidgetsBundle:Macros:widgets.html.twig" as Wid %}

<div class="panel-body text-center p-2">
    {{ Wid.Text(Block.text,Block.Options) }}
</div>
    

    
    