includes:
	- ../../vendor/phpstan/phpstan-phpunit/extension.neon
	- ../../vendor/phpstan/phpstan-doctrine/extension.neon
	- ../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
        bootstrap: "%currentWorkingDirectory%/vendor/splash/phpcore/Resources/grumphp/phpstan.php"
        checkMissingIterableValueType: false
        checkGenericClassInNonGenericObjectType: false
        inferPrivatePropertyTypeFromConstructor: true 
        universalObjectCratesClasses:
                - ArrayObject
        symfony:
                container_xml_path: %currentWorkingDirectory%/var/cache/dev/testContainer.xml # or srcDevDebugProjectContainer.xml for Symfony 4+
        ignoreErrors:
                # Splash Widgets Blocks Methods 
                - '#Call to an undefined method [a-zA-Z0-9\\_]+BaseBlock::[a-zA-Z0-9\\_]+().#'
                - '#Call to an undefined method [a-zA-Z0-9\\_]+FactoryService::[a-zA-Z0-9\\_]+().#'
               # For Compat with Symfony 3 & 4
                - '#Parameter \#1 \$command of class [a-zA-Z0-9\\]+Process constructor expects array, string given.#'
                - '#Call to an undefined static method [a-zA-Z0-9\\]+Process::fromShellCommandline().#'
