{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Edit %}
    {% set RemoveAction = "SplashWidgets_RemoveFromCollection('" ~ Widget.Service ~ "','" ~ Widget.Type ~ "')" %}
    <button class="btn btn-xs btn-danger" onclick="{{ RemoveAction }}">
        <i class="fa fa-fw fa-times-circle-o"></i>
        {{ "remove.label" | trans }}
    </button>
{% endif %}        

    