
{% 
    if Edit 
    and _W.actions.update_parameters is not empty
    and _W.parent is defined
%}
    <div class="close visible-lg visible-md" style="opacity: 1;">
        {% set EditAction = _W.actions.update_parameters ~ "('" ~ _W.parent ~ "','" ~ _W.Identifier ~ "')" %}
        {{ Base.JS_Action_SmBtn(_W.Identifier ~ "-edit-btn", EditAction, "cog font-lg", "actions.edit" | trans , "") }}    
    </div>  

{% endif %}        
    