
{% trans_default_domain "SplashWidgetsBundle" %}   
{% form_theme Form 'bootstrap_4_layout.html.twig' %}


<div class="modal-dialog" role="document" style="z-index:2000;">
    
    {{ form_start(Form) }}
    
    <div class="modal-content">
        
        <div class="modal-header">
            <h4 class="modal-title">        
                {{ "parameters.title" | trans }}
                <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </h4>
            <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            
        <div class="modal-body">
            {{ form_widget(Form, { 'show_legend': false}) }}
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        
    </div>
        
    {{ form_end(Form) }}
    
</div>
    
{#<script>
function postForm( $form, callback ){
 
    /*
    * Get all form values
    */
    var values = {};
    $.each( $form.serializeArray(), function(i, field) {
    values[field.name] = field.value;
    });

    /*
    * Throw the form values to the server!
    */
    $.ajax({
    type        : $form.attr( 'method' ),
    url         : $form.attr( 'action' ),
    data        : values,
        success     : function(data) {
          callback( data );
        }
    });
 
}

$(document).ready(function(){
 
  var forms = [
    '[ name="splash_widgets_settings_form"]'
  ];
 
  $( forms.join(',') ).submit( function( e ){
    e.preventDefault();
 
    postForm( $(this), function( response ){
    });
 
    return false;
  });
 
    console.log("JS Form");
});
</script>#}

