{% trans_default_domain "SplashWidgetsBundle" %} 

{% form_theme Form 'bootstrap_4_layout.html.twig' %}

<div class="card panel panel-default">
    {{ form_start(Form) }}
    <div class="panel-heading card-header">
        {{ "parameters.title" | trans }}
    </div>
    
    <div class="panel-body card-body">
        
        {{ form_widget(Form, { 'show_legend': true}) }}
        
    </div>

    <div class="panel-footer card-footer text-right">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
    {{ form_end(Form) }}
</div>


