{% trans_default_domain "SplashWidgetsBundle" %}   

{#
    Collection Widget Load Add Modal Btn
#}
{% if Collection is defined %}
    {% set CollectionId = Collection.id %}
{% endif %}

{% if CollectionId %}

    {% set listUrl = path('splash_widgets_collections_list_widget', { 
        'collectionId': CollectionId,  
        'channel' : Channel | default("all"),
    }) %}
    
    <button class="btn {{ Class | default("btn-info") }} splash-widget-list" role="button" data-list="{{ listUrl }}">
        <i class="fa fa-fw fa-plus-circle"></i>
        {% if Minified is not defined %}
            {{ "widget.add" | trans }}
        {% endif %}
    </button>
{% endif %}


    