{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Widget.Options.Editable | default(false) %}
    {% set EditAction = "SplashWidgets_LoadEditModal('" ~ Widget.Service ~ "','" ~ Widget.Type ~ "')" %}
    <button class="btn btn-xs btn-default" onclick="{{ EditAction }}">
        <i class="fa fa-fw fa-gear"></i>        
    </button>
{% endif %}        

    