{% trans_default_domain "SplashWidgetsBundle" %}   

{% if Widget.Options.Editable | default(false) %}
    
    {% set editUrl = path('splash_widgets_edit_widget', { 
        'service': Widget.Service,  
        'type' : Widget.Type,
    }) %}    
    
    <button class="btn btn-xs px-1 small btn-default splash-widget-edit" 
        data-target="{{ Widget.Type ~ "-" ~ WidgetId }}"
        data-edit="{{ editUrl }}"            
        >
        <i class="fa fa-fw fa-cog"></i>        
    </button>
{% endif %}        

    