{% trans_default_domain "SplashWidgetsBundle" %}   

{% set Url = path('splash_widgets_render_widget', { 
    'service': Widget.Service,  
    'type' : Widget.Type, 
    'options' : (Widget.Options | json_encode()), 
    "parameters" : (Widget.Parameters | json_encode()) 
}) %}

<button class="btn btn-xs btn-info" onclick="SplashWidgets_AjaxLoading('{{ Widget.Type ~ "-" ~ WidgetId }}','{{ Url }}');">
    <i class="fas fa-fw fa-sync"></i>
</button>

    